<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <div class="inner">

        <h1>Ooops!</h1>
        <p>We can't seem to find the page you are looking for...</p>

    </div>

    <%- include('includes/footer'); -%>
</body>

</html>