<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Templating</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/header'); %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusamus vitae doloribus? In earum maiores ipsum
      molestiae saepe illo doloremque cupiditate est? Earum quisquam iste, ipsum accusantium eveniet consectetur? Amet.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusamus vitae doloribus? In earum maiores ipsum
      molestiae saepe illo doloremque cupiditate est? Earum quisquam iste, ipsum accusantium eveniet consectetur? Amet.
    </p>
</body>

</html>