<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Server Static</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>About me</h1>
  <p>I'm a doggo I can talk like humans!</p>
  <img src="/img/floof.jpg" alt="Fluffy doggo">
</body>

</html>