    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies/add">Add movie</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>